<div id="homepage" :class="[heroHeightSet ? '' : 'uninitialized']" v-cloak>
  <div class="hero d-flex flex-column justify-content-center" full-page-hero>
    <div class="container text-center">
      <h1 class="display-4">Welcome to <strong>NewERA412</strong> .</h1>
      <h2> Begin by serching for any resource you'd like.</h2>
    </div>
    <div class="search-form-container">
      <hr/>
      <ajax-form action="search" @submitted="submittedForm()">
        <div class="form-group">
          <input type="query" class="form-control" placeholder="What resource are you looking for today?" focus-first>
        </div>
        <div class="form-group">
          <input type="category" class="form-control" placeholder="Category"  >
        </div>
        <div class="form-group">
          <ajax-button class="btn-dark btn-lg btn-block">Search!</ajax-button>
        </div>
      </ajax-form>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
